<h1>Editing student</h1>

<%= render "manager/students/partials/form", student: @student %>

<br>

<div>
  <%= link_to "Show this student", @student %> |
  <%= link_to "Back to students", students_path %>
</div>
