<h1>Editing student class</h1>

<%= render "form", student_class: @student_class %>

<br>

<div>
  <%= link_to "Show this student class", @student_class %> |
  <%= link_to "Back to student classes", student_classes_path %>
</div>
